/* Make nav horizontal */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  /* Style top-level nav items */
  nav ul li {
    position: relative;
    text-align: center;
  }
  
  /* Style links */
  nav ul li a {
    display: block;
    padding: 10px;
    margin: 10px;
    color: green;
    background-color: #fcd9dd;
    text-decoration: none;
  }
  
  /* dropdown menu */
  nav li ul {
    position: absolute;
    top: 100%;  /* dropdown shows below parent */
    left: 0;
    background-color: plum;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  
  /* Style dropdown items */
  nav li ul li {
    margin: 2px 0;
  }
  
  /* Show dropdown on hover */
  nav li:hover ul {
    display: block;
  }
  
  /* Hide hamburger icon by default */
.mobile-menu-icon {
  display: none;
  font-size: 28px;
  color: pink;
  padding: 10px;
  cursor: pointer;
}

/* Mobile Navigation Media Query */
@media screen and (max-width: 600px) {
  /* Hide nav list by default */
  nav ul {
    display: none;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    padding: 0;
  }

  nav ul.show {
    display: flex;
  }

  .mobile-menu-icon {
    display: block;
  }

  
}
